---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageHero from '../components/PageHero.astro';
import SectionIntro from '../components/SectionIntro.astro';
import { Image } from 'astro:assets';
import imCover from '../assets/discography/im-cover.jpg';
import mrCover from '../assets/discography/mr-cover.jpeg';
import nlCover from '../assets/discography/nl-cover.jpg';
import chasmCover from '../assets/discography/chasm-cover.jpg';
import hypoCover from '../assets/discography/hypo-cover.jpeg';
import njCover from '../assets/discography/nj-cover.jpeg';
import wdCover from '../assets/discography/wd-cover.jpeg';

const albums = [
    { title: 'Infinite Mortality', cover: imCover, date: 'April 4, 2024' },
    { title: 'Malignant Reality', cover: mrCover, date: 'September 10, 2021' },
    { title: 'Negative Life', cover: nlCover, date: 'March 23, 2018' },
];

const eps = [
    { title: 'Chasm of Aeons', cover: chasmCover, date: 'August 4, 2020' },
    { title: 'Hypochondria of the Machine', cover: hypoCover, date: 'December 20, 2019' },
    { title: 'Welcome to New Jersey', cover: njCover, date: 'October 25, 2019' },
    { title: 'Worthless Desires', cover: wdCover, date: 'May 20, 2016' },
];
---

<BaseLayout
    title="Discography | Replicant"
    desc="Official discography of Replicant. Includes all albums, singles, and EP releases."
>
    <main class="py-10 lg:py-16">
        <PageHero />
        <section class="mt-32">
            <SectionIntro title="Full Lengths" />
            <div class="container px-6 mx-auto mt-24 xl:px-0">
                <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
                    {
                        albums.map((album) => (
                            <div>
                                <Image
                                    src={album.cover}
                                    alt={`${album.title} Album Cover`}
                                    width={496}
                                    height={496}
                                    format="avif"
                                />
                                <div class="flex flex-col gap-1 mt-4">
                                    <h4 class="text-3xl font-bold text-white">{album.title}</h4>
                                    <span class="text-replicant-300">{album.date}</span>
                                </div>
                            </div>
                        ))
                    }
                </div>
            </div>
        </section>
        <section class="mt-32">
            <SectionIntro title="EPs / Splits" />
            <div class="container px-6 mx-auto mt-24 xl:px-0">
                <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
                    {
                        eps.map((ep) => (
                            <div>
                                <Image
                                    src={ep.cover}
                                    alt={`${ep.title} Cover`}
                                    width={496}
                                    height={496}
                                    format="avif"
                                />
                                <div class="flex flex-col gap-1 mt-4">
                                    <h4 class="text-3xl font-bold text-white">{ep.title}</h4>
                                    <span class="text-replicant-300">{ep.date}</span>
                                </div>
                            </div>
                        ))
                    }
                </div>
            </div>
        </section>
    </main>
</BaseLayout>
