---
import Lightbox from './Lightbox.astro';
const { product } = Astro.props;
---

<div>
    <div class="relative">
        <div class="relative w-full h-72 rounded-lg overflow-hidden">
            <div class="absolute top-1 right-1">
                <span
                    class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-replicant-100 text-replicant-800"
                >
                    {product.productType}
                </span>
            </div>
            <Lightbox image={product.images[0].url} title={product.title} />
            <div class="absolute bottom-0 inset-x-0 p-2 flex items-end justify-end overflow-hidden">
                <p class="relative text-lg font-semibold text-replicant-100 text-shadow">
                    ${product.price}.00
                </p>
            </div>
        </div>
        <div class="relative mt-4">
            <h3 class="text-xl font-medium text-replicant-100">{product.title}</h3>
            <p class="mt-2 text-replicant-300 sm:line-clamp-3">
                {product.description}
            </p>
        </div>
    </div>
    <div class="mt-6">
        {
            product.productType === 'clothing' ? (
                <button
                    class="snipcart-add-item relative flex bg-replicant-200 border border-transparent rounded-md py-2 px-8 items-center justify-center text-sm font-medium text-replicant-900 hover:bg-replicant-400 transition-all duration-200"
                    data-item-id={product.id}
                    data-item-price={product.price}
                    data-item-url="/"
                    data-item-description={product.description}
                    data-item-image={product.images[0].url}
                    data-item-name={product.title}
                    data-item-weight={product.productWeight}
                    data-item-custom1-name="Size"
                    data-item-custom1-options="Small | Medium | Large | XL | XXL"
                >
                    Add to bag
                </button>
            ) : product.productType === 'digital' ? (
                <button
                    class="snipcart-add-item relative flex bg-replicant-200 border border-transparent rounded-md py-2 px-8 items-center justify-center text-sm font-medium text-replicant-900 hover:bg-replicant-400 transition-all duration-200"
                    data-item-id={product.id}
                    data-item-price={product.price}
                    data-item-url="/"
                    data-item-description={product.description}
                    data-item-image={product.images[0].url}
                    data-item-name={product.title}
                    data-item-file-guid={product.fileGuid}
                >
                    Add to bag
                </button>
            ) : (
                <button
                    class="snipcart-add-item relative flex bg-replicant-200 border border-transparent rounded-md py-2 px-8 items-center justify-center text-sm font-medium text-replicant-900 hover:bg-replicant-400 transition-all duration-200"
                    data-item-id={product.id}
                    data-item-price={product.price}
                    data-item-url="/"
                    data-item-description={product.description}
                    data-item-image={product.images[0].url}
                    data-item-name={product.title}
                    data-item-weight={product.productWeight}
                >
                    Add to bag
                </button>
            )
        }
    </div>
</div>

<style>
    .text-shadow {
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    }
</style>
